<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--SendErrorEmailParametrs-->
    <add key="fromMailAccount" value="santpeterburgtravel@gmail.com" />
    <add key="toMailAccount" value="7abelin@gmail.com" />
    <add key="mailPassword" value="321165102" />
    <add key="defaultSubject" value="Error In Process SpotyiFy Renew User AccountS" />
    <add key="defaultBody" value="Error :" />

    <add key="spotifyUrl" value="https://www.spotify.com" />
    <add key="users" value="email1@email.com;email2@email.com" />
    
    
  </appSettings>
</configuration>